body {
  margin:0;
  font-family:'Inter', sans-serif;
  background: linear-gradient(135deg,#ffd6e8,#ffe5d9);
}

.hidden { display:none; }

.login-screen {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.glass-card {
  background:rgba(255,255,255,0.3);
  padding:40px;
  border-radius:20px;
  backdrop-filter:blur(15px);
  box-shadow:0 20px 40px rgba(0,0,0,0.1);
  width:320px;
  text-align:center;
}

select,input {
  width:100%;
  padding:12px;
  border-radius:25px;
  border:none;
  margin-top:15px;
}

button {
  margin-top:15px;
  padding:12px;
  border:none;
  border-radius:25px;
  background:#ff5fa2;
  color:white;
  cursor:pointer;
}

#chatApp {
  height:100vh;
  display:flex;
  flex-direction:column;
}

.chat-header {
  padding:15px;
  background:rgba(255,255,255,0.4);
  backdrop-filter:blur(15px);
}

.chat-box {
  flex:1;
  padding:20px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.message {
  padding:10px 15px;
  border-radius:20px;
  max-width:70%;
}

.chat-input {
  display:flex;
  padding:15px;
  background:rgba(255,255,255,0.4);
}
.chat-input input {
  flex:1;
  margin:0;
}
.chat-input button {
  margin-left:10px;
}
